@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}
#navbar {
  width: 9rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
}

#navbar .navBtn, #navbar .navSpamBtn {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7294117647);
  background-color: #334960;
  border-bottom: 1px solid #a5bdd6;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  width: 8.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#navbar .navBtn img, #navbar .navSpamBtn img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.8rem;
}
#navbar .navBtn .noSpanExtended, #navbar .navSpamBtn .noSpanExtended {
  margin: 0.85rem auto;
}
#navbar .navBtn span, #navbar .navSpamBtn span {
  width: 100%;
  margin: auto 0.5rem;
  transition: all 0.2s;
}
#navbar .navBtn:hover, #navbar .navSpamBtn:hover {
  background-color: rgba(64, 92, 121, 0.6509803922);
  box-shadow: none;
}
#navbar .navBtn:first-of-type {
  margin-top: 12rem;
  border-radius: 0.3rem 0.3rem 0 0 !important;
}
#navbar .navBtn:last-of-type {
  border-bottom: none;
  border-radius: 0 0 0.3rem 0.3rem !important;
}
#navbar .retornar {
  background-color: #dd2c00;
}
#navbar .retornar span {
  color: #dfe5eb;
}
#navbar .retornar:hover {
  background-color: #ff3d00;
}

#navbar .langBlock .langBtn {
  background-color: #516d8a;
  height: 0;
  opacity: 0;
  border: none;
  transition: all 0.3s;
}
#navbar .langBlock .langBtn h3 {
  display: none;
  color: #dfe5eb;
  margin: 1rem 1.1rem;
}
#navbar .langBlock .langBtn .navSpan {
  display: none;
}
#navbar .langBlock .langBtn:first-of-type {
  margin-top: 0;
  border-radius: 0.3rem 0.3rem 0 0 !important;
}
#navbar .langBlock .langBtn:hover {
  background-color: rgba(64, 92, 121, 0.6509803922);
  box-shadow: none;
}

.noSpanExtended {
  margin: 0.85rem auto;
}

@media screen and (max-width: 1200px) {
  #navbar {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: center;
  }

  #navbar .navBtn {
    border-bottom: none;
    border-radius: 0.3rem;
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  }
  #navbar .navBtn:first-of-type {
    border-radius: 0.3rem !important;
  }
  #navbar .navBtn:last-of-type {
    border-bottom: none;
    border-radius: 0.3rem !important;
  }
}
@media screen and (max-width: 1200px) {
  #navbar .navBtn:first-child, #navbar .navBtn {
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  }
}
.Profile {
  padding-top: 12rem;
  transition: all 0.7s ease-in-out;
}

.light-profile #ProfileBlock, .dark-profile #ProfileBlock {
  display: flex;
  margin: auto auto 8rem auto;
  width: 15rem;
  height: 20rem;
  border-radius: 3rem;
  flex-direction: column;
  transition: all ease-in-out 0.7s;
}

#ProfileBlock #imgDiv {
  z-index: 2;
  display: flex;
  margin: auto;
  height: 6.8rem;
  width: 6.8rem;
  background: linear-gradient(to top, #01ecd5, #4586ff);
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  border-radius: 50%;
}
#ProfileBlock #imgDiv img {
  margin: auto;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
}

#ProfileBlock h3, h5 {
  z-index: 2;
  margin: 0.6rem auto 0 auto;
}

#ProfileBlock #links {
  z-index: 2;
  margin: auto;
}
#ProfileBlock #links img {
  cursor: pointer;
  margin: 0.3rem 0.6rem 1rem 0.6rem;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
}

.lnk1:hover {
  filter: contrast(1.2);
}

.lnk2:hover {
  filter: saturate(1.5);
}

.gradient {
  position: absolute;
  width: 15rem;
  height: 20rem;
  border-radius: 3rem;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  transition: all ease-in-out 0.7s;
}

.light-gradient {
  filter: none;
}

.dark-gradient {
  filter: opacity(0.05);
}

.dark-profile #ProfileBlock {
  background-color: #101b26;
}

.light-about, .dark-about {
  width: 700px;
  border-radius: 0.3rem;
  display: flex;
  margin: auto;
  padding: 4rem 4rem 3rem 3.5rem;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  transition: all 0.7s ease-in-out;
}
.light-about h2, .dark-about h2 {
  margin-top: 0;
}
.light-about .imgBlock, .dark-about .imgBlock {
  margin: 2rem 0;
}
.light-about img, .dark-about img {
  margin-right: 0.25rem;
}

.light-about {
  background-color: #ffffff;
}
.light-about h2 {
  color: #101b26;
}

.dark-about {
  background-color: #101b26;
}
.dark-about h2 {
  color: #a5bdd6;
}

@media screen and (max-width: 992px) {
  .About {
    width: auto;
    margin: auto 5rem;
  }
}
@media screen and (max-width: 768px) {
  .About {
    margin: auto 3rem;
  }
}
@media screen and (max-width: 576px) {
  .About {
    margin: auto 0.5rem;
  }
}
.light-projects, .dark-projects {
  display: flex;
  justify-content: center;
  width: 828px;
  overflow-anchor: none;
  margin: 10rem auto auto auto;
  border-radius: 0.3rem;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  transition: all 0.7s ease-in-out;
}
.light-projects .blockDescription, .dark-projects .blockDescription {
  border-radius: 0.3rem 0.3rem 0 0;
  margin: 0 0 1rem 0;
  padding: 0.5rem 3rem;
  transition: all 0.7s ease-in-out;
}
.light-projects .blockDescription h3, .light-projects .blockDescription p, .dark-projects .blockDescription h3, .dark-projects .blockDescription p {
  font-family: "RobotoCondensed";
}
.light-projects .Projects, .dark-projects .Projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.light-projects .Projects .proj, .dark-projects .Projects .proj {
  margin: 10px;
  overflow: hidden;
  display: grid;
  border-radius: 0.3rem;
  width: 46%;
  grid-template-columns: 3fr 3fr 3fr 3fr 4fr 7fr;
  grid-template-rows: 3.5rem 2.5rem 2rem 3rem 3rem;
  transition: all 0.7s ease-in-out;
}
.light-projects .Projects .proj h4, .dark-projects .Projects .proj h4 {
  grid-column: 1/7;
  grid-row: 1/2;
  margin: 1rem 1rem 0.5rem 1.5rem;
  align-self: center;
}
.light-projects .Projects .proj p, .dark-projects .Projects .proj p {
  grid-column: 1/7;
  grid-row: 2/4;
  font-size: 14px;
  padding: 0;
  margin: 0.5rem 1.5rem 0 1.5rem;
}
.light-projects .Projects .proj .langicon, .dark-projects .Projects .proj .langicon {
  justify-self: center;
  align-self: center;
  width: 30px;
  height: 30px;
}
.light-projects .Projects .proj .long_stk, .dark-projects .Projects .proj .long_stk {
  height: auto;
  width: 3rem;
  justify-self: center;
}
.light-projects .Projects .proj .projButton, .dark-projects .Projects .proj .projButton {
  grid-column: 6/7;
  grid-row: 5/6;
  margin: 0 0.5rem 0.5rem 0;
  display: flex;
  font-size: 0.8rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  background-color: #334960;
  color: #dfe5eb;
}
.light-projects .Projects .proj .projButton:hover, .dark-projects .Projects .proj .projButton:hover {
  background-color: #516d8a;
}
.light-projects .Projects .proj .projButton span, .dark-projects .Projects .proj .projButton span {
  margin: auto;
}
.light-projects #LoadProj, .dark-projects #LoadProj {
  display: flex;
  height: 3.5rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0 0 0.3rem 0.3rem;
  justify-content: space-between;
  transition: all 0.7s ease-in-out;
}

.col_1-3 {
  grid-column: 1/3;
}

.col_2-4 {
  grid-column: 2/4;
}

.col_3-5 {
  grid-column: 3/5;
}

.col_2-3 {
  grid-column: 2/3;
}

.col_3-4 {
  grid-column: 3/4;
}

.row_4-6 {
  grid-row: 4/6;
}

.row_4-5 {
  grid-row: 4/5;
}

.row_5-6 {
  grid-row: 5/6;
  margin-bottom: 0.8rem;
}

.alterPgBtnAnt, .alterPgBtnPrx, .screenshotBtnPrx, .screenshotBtnAnt {
  border-radius: 0.3rem;
  width: 3rem;
  background-color: #334960;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0.2rem;
  transition: all ease-in-out 0.5s;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
}
.alterPgBtnAnt img, .alterPgBtnPrx img, .screenshotBtnPrx img, .screenshotBtnAnt img {
  margin: auto 0.3rem;
  height: 0.8rem;
}
.alterPgBtnAnt span, .alterPgBtnPrx span, .screenshotBtnPrx span, .screenshotBtnAnt span {
  font-family: RobotoCondensed;
  margin: auto 0.5rem;
  font-size: 0.8rem;
}
.alterPgBtnAnt:hover, .alterPgBtnPrx:hover, .screenshotBtnPrx:hover, .screenshotBtnAnt:hover {
  cursor: pointer;
  background-color: #516d8a;
}

.alterPgBtnAnt {
  margin-right: 2.5rem;
}

.alterPgBtnAnt:hover, .alterPgBtnPrx:hover, .screenshotBtnPrx, .screenshotBtnAnt {
  border-color: rgba(0, 0, 0, 0.24);
}

#ProjNavCont, #carrNavCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#navGuia {
  margin: auto 2.5rem;
}

.light-projects {
  background-color: #ffffff;
}
.light-projects .blockDescription {
  background-color: #ffffff;
  border-bottom: 1px solid #a5bdd6;
}
.light-projects .Projects .proj {
  background-color: #dfe5eb;
  border: 1px solid #a5bdd6;
}
.light-projects .Projects .proj h4 {
  color: #101b26;
}
.light-projects #LoadProj {
  background-color: #ffffff;
  border-top: 1px solid #a5bdd6;
}

.dark-projects {
  background-color: #101b26;
}
.dark-projects .blockDescription {
  background-color: #101b26;
  border-bottom: 1px solid #1e2e3e;
}
.dark-projects .Projects .proj {
  background-color: #15222f;
  border: 1px solid #1e2e3e;
}
.dark-projects .Projects .proj h4 {
  color: #a5bdd6;
}
.dark-projects #LoadProj {
  background-color: #101b26;
  border-top: 1px solid #1e2e3e;
}

@media screen and (max-width: 992px) {
  .light-projects, .dark-projects {
    width: auto;
    margin: 10rem 5rem auto 5rem;
  }

  .Projects .proj {
    grid-template-rows: 3.5rem 2.5rem 3rem 3rem 3rem;
  }

  .long_stk {
    width: 4rem;
    justify-self: right;
  }
}
@media screen and (max-width: 850px) {
  .Projects .proj {
    width: 25rem;
    grid-template-rows: 3.5rem 3rem 3.5rem 3.5rem 3.5rem;
  }

  .long_stk {
    width: 3rem;
    justify-self: center;
  }

  .row_4-6, .row_4-5 {
    margin-bottom: 2rem;
  }

  .row_5-6 {
    margin-bottom: 2.8rem;
  }
}
@media screen and (max-width: 768px) {
  .light-projects, .dark-projects {
    margin: 10rem 3rem auto 3rem;
  }
}
@media screen and (max-width: 576px) {
  .light-projects, .dark-projects {
    margin: 10rem 0.5rem auto 0.5rem;
  }

  .Projects .proj {
    width: 100%;
    grid-template-rows: 3.5rem 3rem 3rem 3rem 3rem;
  }

  #navGuia {
    margin: auto 0rem auto 0.5rem;
  }
}
.dark-project .detail-container, .light-project .detail-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 12rem;
}
.dark-project .detail-container .detail, .light-project .detail-container .detail {
  border-radius: 0.3rem;
  width: 828px;
  margin: auto auto 12rem auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  transition: all 0.3s ease-in-out;
}
.dark-project .detail-container .project-header, .light-project .detail-container .project-header {
  border-radius: 0.3rem 0.3rem 0 0;
}
.dark-project .detail-container .project-name, .light-project .detail-container .project-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 0.3rem 0.3rem 0 0;
}
.dark-project .detail-container .project-name h2, .light-project .detail-container .project-name h2 {
  width: 100%;
  margin: 2rem;
  text-align: center;
}
.dark-project .detail-container .project-description, .light-project .detail-container .project-description {
  margin: 0;
  padding: 3rem 2rem 1.5rem 2rem;
}
.dark-project .detail-container .status-and-tools, .light-project .detail-container .status-and-tools {
  display: flex;
  align-items: stretch;
}
.dark-project .detail-container .status-and-tools .badges, .light-project .detail-container .status-and-tools .badges {
  width: 100%;
  margin: 1.5rem auto auto 2rem;
}
.dark-project .detail-container .status-and-tools .badges h4, .light-project .detail-container .status-and-tools .badges h4 {
  width: 100%;
}
.dark-project .detail-container .status-and-tools .badges img, .light-project .detail-container .status-and-tools .badges img {
  margin-right: 0.2rem;
}
.dark-project .detail-container .status-and-tools .project-btn, .light-project .detail-container .status-and-tools .project-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto auto 2rem;
  align-items: center;
}
.dark-project .detail-container .status-and-tools .project-btn h4, .light-project .detail-container .status-and-tools .project-btn h4 {
  padding-left: 4rem;
  width: 100%;
}
.dark-project .detail-container .project-btn .link-btn, .light-project .detail-container .project-btn .link-btn {
  display: flex;
  width: 12rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: #101b26;
  background-color: #dfe5eb;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
}
.dark-project .detail-container .project-btn .link-btn:hover, .light-project .detail-container .project-btn .link-btn:hover {
  filter: contrast(1.2);
  cursor: pointer;
}
.dark-project .detail-container .project-btn .link-btn img, .light-project .detail-container .project-btn .link-btn img {
  height: 2rem;
}
.dark-project .detail-container .project-btn .link-btn span, .light-project .detail-container .project-btn .link-btn span {
  font-size: 1rem;
  margin: auto;
}
.dark-project .detail-container .project-btn .link-btn:not(:first-of-type), .light-project .detail-container .project-btn .link-btn:not(:first-of-type) {
  margin-top: 0.5rem;
}
.dark-project .detail-container .project-btn .link-btn:last-child, .light-project .detail-container .project-btn .link-btn:last-child {
  margin-bottom: 2rem;
}
.dark-project .detail-container .project-btn .green-btn-bg, .light-project .detail-container .project-btn .green-btn-bg {
  color: #C8E6C9;
  background-color: #4CAF50 !important;
}
.dark-project .detail-container .project-btn .green-btn-bg:hover, .light-project .detail-container .project-btn .green-btn-bg:hover {
  filter: none;
  cursor: auto;
}
.dark-project .detail-container .project-btn .gray-link-btn, .light-project .detail-container .project-btn .gray-link-btn {
  color: #dfe5eb;
  background-color: #516d8a !important;
}
.dark-project .detail-container .project-btn .gray-link-btn img, .light-project .detail-container .project-btn .gray-link-btn img {
  height: 1.5rem;
  margin: 0.3rem;
}
.dark-project .detail-container .header, .light-project .detail-container .header {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding-top: 1.5rem;
}
.dark-project .detail-container .header .header-text, .light-project .detail-container .header .header-text {
  width: 100%;
  display: flex;
}
.dark-project .detail-container .header .header-text h4, .light-project .detail-container .header .header-text h4 {
  margin: 1rem auto 1rem 2rem;
  font-size: 1rem;
  text-align: center;
}
.dark-project .detail-container .section-detail, .light-project .detail-container .section-detail {
  padding: 0rem 2rem 1rem 2rem;
}
.dark-project .detail-container .section-detail-list, .light-project .detail-container .section-detail-list {
  margin-right: 40px;
}
.dark-project .detail-container .loneImg, .light-project .detail-container .loneImg {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark-project .detail-container .loneImg .loneImgSubContainer, .light-project .detail-container .loneImg .loneImgSubContainer {
  display: flex;
  flex-direction: column;
}
.dark-project .detail-container .loneImg .loneImgSubContainer img:hover, .light-project .detail-container .loneImg .loneImgSubContainer img:hover {
  cursor: pointer;
  filter: contrast(1.1);
}

.imgContainer {
  position: fixed;
}
.imgContainer .selpic {
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  max-width: 90vw;
  max-height: 90vh;
}

.close {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 26px;
  height: 26px;
  background-color: #dd2c00;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
}

.close:hover {
  background-color: #ff3d00;
}

.close-svg {
  margin: auto;
  width: 14px;
  height: 14px;
}

.pt_0 {
  padding-top: 0;
}

.pt_1 {
  padding-top: 1rem;
}

.pb_1 {
  padding-bottom: 1rem;
}

.mt_0 {
  margin-top: 0 !important;
}

.mt_1 {
  margin-top: 1rem;
}

.mb_0 {
  margin-bottom: 0;
}

.mb_1 {
  margin-bottom: 1rem;
}

.ml_1_auto {
  margin: 1rem auto;
}

.width_80 {
  width: 80%;
}

.width_100 {
  width: 100%;
}

.light-project .detail-container .detail {
  background-color: #ffffff;
}
.light-project .detail-container .project-header {
  border-bottom: 1px solid #a5bdd6;
}
.light-project .detail-container .status-and-tools .project-btn {
  border-left: 1px solid #a5bdd6;
}
.light-project .detail-container .project-btn .link-btn {
  background-color: #dfe5eb;
}
.light-project .detail-container .header {
  border-top: 1px solid #a5bdd6;
}
.light-project .detail-container .loneImg p {
  color: #516d8a;
}

.dark-project .detail-container .detail {
  background-color: #101b26;
}
.dark-project .detail-container .project-header {
  border-bottom: 1px solid #1e2e3e;
}
.dark-project .detail-container .status-and-tools .project-btn {
  border-left: 1px solid #1e2e3e;
}
.dark-project .detail-container .header {
  border-top: 1px solid #1e2e3e;
}
.dark-project .detail-container .loneImg p {
  color: #516d8a;
}

@media screen and (max-width: 992px) {
  .detail-container .detail {
    margin: auto 5rem;
  }
}
@media screen and (max-width: 768px) {
  .detail-container .detail {
    margin: auto 3rem;
  }
}
@media screen and (max-width: 576px) {
  .detail-container .detail {
    margin: auto 0.5rem;
  }
}
.light-contact, .dark-contact {
  margin: 10rem auto 5rem auto;
  width: 828px;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  transition: all 0.7s ease-in-out;
}
.light-contact .contactIcon, .dark-contact .contactIcon {
  margin-right: 0.8rem;
  height: 2rem;
  width: 2rem;
}
.light-contact .contactButton, .dark-contact .contactButton {
  display: flex;
  cursor: pointer;
  border: none;
  height: 30px;
  width: 5rem;
  font-size: 12px;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  border-radius: 0.3rem;
  transition: all 0.3s;
  right: 0;
  color: #dfe5eb;
  background-color: #334960;
}
.light-contact .contactButton:hover, .dark-contact .contactButton:hover {
  background-color: #516d8a;
}
.light-contact span, .dark-contact span {
  margin: auto;
}
.light-contact .contactHeader, .dark-contact .contactHeader {
  border-radius: 0.3rem 0.3rem 0 0;
  padding: 0.5rem 3rem;
  transition: all 0.7s ease-in-out;
}
.light-contact #tel-wpp, .light-contact #email, .dark-contact #tel-wpp, .dark-contact #email {
  border-radius: 0.3rem;
  padding: 1rem;
  width: 300px;
  margin: 3rem auto auto auto;
}
.light-contact #tel-wpp, .dark-contact #tel-wpp {
  transition: all 0.7s ease-in-out;
}
.light-contact #tel-wpp #tel-header, .dark-contact #tel-wpp #tel-header {
  margin: auto;
  display: flex;
  align-items: center;
}
.light-contact #tel-wpp .numero, .dark-contact #tel-wpp .numero {
  display: flex;
  justify-content: space-between;
}
.light-contact #tel-wpp .numero .tel-1, .dark-contact #tel-wpp .numero .tel-1 {
  margin: 8px 20px auto 3px;
}
.light-contact #email, .dark-contact #email {
  transition: all 0.7s ease-in-out;
}
.light-contact #email #email-Header, .dark-contact #email #email-Header {
  display: flex;
  height: 3.5rem;
  align-items: center;
}
.light-contact #email #email-Header h4, .dark-contact #email #email-Header h4 {
  margin: auto 0;
}
.light-contact #email #emails, .dark-contact #email #emails {
  display: flex;
  margin: 10px 0 0 0;
  font-size: 14px;
  justify-content: space-between;
  flex-direction: column;
}
.light-contact #email #emails .emailBlock, .dark-contact #email #emails .emailBlock {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.light-contact #email #emails .email-1, .light-contact #email #emails .email-2, .light-contact #email #emails .email-3, .dark-contact #email #emails .email-1, .dark-contact #email #emails .email-2, .dark-contact #email #emails .email-3 {
  margin: 8px 20px auto 3px;
}
.light-contact .socialCards, .dark-contact .socialCards {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.light-contact .socialCards .socialCard, .dark-contact .socialCards .socialCard {
  text-decoration: none;
  border-radius: 0.3rem 0.2rem 0.2rem 0.3rem;
  display: flex;
  margin: auto 1rem;
  width: 160px;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  cursor: pointer;
}
.light-contact .socialCards .socialCard span, .dark-contact .socialCards .socialCard span {
  margin: auto;
  font-size: 1.2rem;
}
.light-contact .socialCard .SCimgCont, .dark-contact .socialCard .SCimgCont {
  border-radius: 0.2rem 0 0 0.2rem;
  display: flex;
}
.light-contact .socialCard .SCimgCont img, .dark-contact .socialCard .SCimgCont img {
  margin: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
}
.light-contact .socialCard:first-child, .dark-contact .socialCard:first-child {
  background-color: #334960;
}
.light-contact .socialCard:first-child:hover, .dark-contact .socialCard:first-child:hover {
  filter: contrast(1.2);
}
.light-contact .socialCard:last-child, .dark-contact .socialCard:last-child {
  background-color: #007ab9;
}
.light-contact .socialCard:last-child:hover, .dark-contact .socialCard:last-child:hover {
  filter: saturate(1.5);
}

.light-contact {
  background-color: #ffffff;
}
.light-contact .contactHeader {
  background-color: #ffffff;
  border-bottom: 1px solid #a5bdd6;
}
.light-contact #tel-wpp, .light-contact #email {
  border: 1px solid #a5bdd6;
  background-color: #dfe5eb;
}
.light-contact .socialCards .socialCard span {
  color: #dfe5eb;
}
.light-contact .socialCards .socialCard .SCimgCont {
  background-color: #dfe5eb;
}

.dark-contact {
  background-color: #101b26;
}
.dark-contact .contactHeader {
  background-color: #101b26;
  border-bottom: 1px solid #1e2e3e;
}
.dark-contact #tel-wpp, .dark-contact #email {
  border: 1px solid #1e2e3e;
  background-color: #15222f;
}
.dark-contact .socialCards .socialCard span {
  color: #dfe5eb;
}
.dark-contact .socialCards .socialCard .SCimgCont {
  background-color: #dfe5eb;
}

@media screen and (max-width: 992px) {
  .light-contact, .dark-contact {
    width: auto;
    margin: 10rem 5rem auto 5rem;
  }
}
@media screen and (max-width: 768px) {
  .light-contact, .dark-contact {
    margin: 10rem 3rem auto 3rem;
  }
}
@media screen and (max-width: 576px) {
  .light-contact, .dark-contact {
    margin: 10rem 0.5rem auto 0.5rem;
  }

  .socialCards .socialCard {
    margin: auto 0.3rem;
  }
}
body {
  margin: 0;
}

.light-app, .dark-app {
  font-family: "RobotoCondensed";
  background: url("../img/misc/pattern.svg");
  transition: all ease-in-out 0.7s;
}
.light-app h1, .light-app h2, .light-app h3, .light-app h4, .light-app h5, .light-app h6, .dark-app h1, .dark-app h2, .dark-app h3, .dark-app h4, .dark-app h5, .dark-app h6 {
  font-weight: 400;
}

.light-app {
  background-color: #4586ff;
}

.dark-app {
  background-color: #020509;
}

.light-portfolio, .dark-portfolio {
  padding: 0 0 7rem 0;
  position: relative;
  transition: all 0.3s;
}

.light-portfolio, .light-project {
  color: #334960;
}
.light-portfolio h1, .light-portfolio h2, .light-portfolio h3, .light-portfolio h4, .light-portfolio h5, .light-portfolio h6, .light-project h1, .light-project h2, .light-project h3, .light-project h4, .light-project h5, .light-project h6 {
  color: #101b26;
}

.dark-portfolio, .dark-project {
  color: #809ab5;
}
.dark-portfolio h1, .dark-portfolio h2, .dark-portfolio h3, .dark-portfolio h4, .dark-portfolio h5, .dark-portfolio h6, .dark-project h1, .dark-project h2, .dark-project h3, .dark-project h4, .dark-project h5, .dark-project h6 {
  color: #a5bdd6;
}

.proj_mode {
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
