.dark-project .detail-container, .light-project .detail-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 12rem;
}
.dark-project .detail-container .detail, .light-project .detail-container .detail {
  border-radius: 0.3rem;
  width: 828px;
  margin: auto auto 12rem auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  transition: all 0.3s ease-in-out;
}
.dark-project .detail-container .project-header, .light-project .detail-container .project-header {
  border-radius: 0.3rem 0.3rem 0 0;
}
.dark-project .detail-container .project-name, .light-project .detail-container .project-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 0.3rem 0.3rem 0 0;
}
.dark-project .detail-container .project-name h2, .light-project .detail-container .project-name h2 {
  width: 100%;
  margin: 2rem;
  text-align: center;
}
.dark-project .detail-container .project-description, .light-project .detail-container .project-description {
  margin: 0;
  padding: 3rem 2rem 1.5rem 2rem;
}
.dark-project .detail-container .status-and-tools, .light-project .detail-container .status-and-tools {
  display: flex;
  align-items: stretch;
}
.dark-project .detail-container .status-and-tools .badges, .light-project .detail-container .status-and-tools .badges {
  width: 100%;
  margin: 1.5rem auto auto 2rem;
}
.dark-project .detail-container .status-and-tools .badges h4, .light-project .detail-container .status-and-tools .badges h4 {
  width: 100%;
}
.dark-project .detail-container .status-and-tools .badges img, .light-project .detail-container .status-and-tools .badges img {
  margin-right: 0.2rem;
}
.dark-project .detail-container .status-and-tools .project-btn, .light-project .detail-container .status-and-tools .project-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto auto 2rem;
  align-items: center;
}
.dark-project .detail-container .status-and-tools .project-btn h4, .light-project .detail-container .status-and-tools .project-btn h4 {
  padding-left: 4rem;
  width: 100%;
}
.dark-project .detail-container .project-btn .link-btn, .light-project .detail-container .project-btn .link-btn {
  display: flex;
  width: 12rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: #101b26;
  background-color: #dfe5eb;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
}
.dark-project .detail-container .project-btn .link-btn:hover, .light-project .detail-container .project-btn .link-btn:hover {
  filter: contrast(1.2);
  cursor: pointer;
}
.dark-project .detail-container .project-btn .link-btn img, .light-project .detail-container .project-btn .link-btn img {
  height: 2rem;
}
.dark-project .detail-container .project-btn .link-btn span, .light-project .detail-container .project-btn .link-btn span {
  font-size: 1rem;
  margin: auto;
}
.dark-project .detail-container .project-btn .link-btn:not(:first-of-type), .light-project .detail-container .project-btn .link-btn:not(:first-of-type) {
  margin-top: 0.5rem;
}
.dark-project .detail-container .project-btn .link-btn:last-child, .light-project .detail-container .project-btn .link-btn:last-child {
  margin-bottom: 2rem;
}
.dark-project .detail-container .project-btn .green-btn-bg, .light-project .detail-container .project-btn .green-btn-bg {
  color: #C8E6C9;
  background-color: #4CAF50 !important;
}
.dark-project .detail-container .project-btn .green-btn-bg:hover, .light-project .detail-container .project-btn .green-btn-bg:hover {
  filter: none;
  cursor: auto;
}
.dark-project .detail-container .project-btn .gray-link-btn, .light-project .detail-container .project-btn .gray-link-btn {
  color: #dfe5eb;
  background-color: #516d8a !important;
}
.dark-project .detail-container .project-btn .gray-link-btn img, .light-project .detail-container .project-btn .gray-link-btn img {
  height: 1.5rem;
  margin: 0.3rem;
}
.dark-project .detail-container .header, .light-project .detail-container .header {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding-top: 1.5rem;
}
.dark-project .detail-container .header .header-text, .light-project .detail-container .header .header-text {
  width: 100%;
  display: flex;
}
.dark-project .detail-container .header .header-text h4, .light-project .detail-container .header .header-text h4 {
  margin: 1rem auto 1rem 2rem;
  font-size: 1rem;
  text-align: center;
}
.dark-project .detail-container .section-detail, .light-project .detail-container .section-detail {
  padding: 0rem 2rem 1rem 2rem;
}
.dark-project .detail-container .section-detail-list, .light-project .detail-container .section-detail-list {
  margin-right: 40px;
}
.dark-project .detail-container .loneImg, .light-project .detail-container .loneImg {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark-project .detail-container .loneImg .loneImgSubContainer, .light-project .detail-container .loneImg .loneImgSubContainer {
  display: flex;
  flex-direction: column;
}
.dark-project .detail-container .loneImg .loneImgSubContainer img:hover, .light-project .detail-container .loneImg .loneImgSubContainer img:hover {
  cursor: pointer;
  filter: contrast(1.1);
}

.imgContainer {
  position: fixed;
}
.imgContainer .selpic {
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
  max-width: 90vw;
  max-height: 90vh;
}

.close {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 26px;
  height: 26px;
  background-color: #dd2c00;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
}

.close:hover {
  background-color: #ff3d00;
}

.close-svg {
  margin: auto;
  width: 14px;
  height: 14px;
}

.pt_0 {
  padding-top: 0;
}

.pt_1 {
  padding-top: 1rem;
}

.pb_0 {
  padding-bottom: 0 !important;
}

.pb_1 {
  padding-bottom: 1rem;
}

.mt_0 {
  margin-top: 0 !important;
}

.mt_1 {
  margin-top: 1rem;
}

.mb_0 {
  margin-bottom: 0 !important;
}

.mb_1 {
  margin-bottom: 1rem !important;
}

.ml_1_auto {
  margin: 1rem auto;
}

.width_80 {
  width: 80%;
}

.width_100 {
  width: 100%;
}

.light-project .detail-container .detail {
  background-color: #ffffff;
}
.light-project .detail-container .project-header {
  border-bottom: 1px solid #a5bdd6;
}
.light-project .detail-container .status-and-tools .project-btn {
  border-left: 1px solid #a5bdd6;
}
.light-project .detail-container .project-btn .link-btn {
  background-color: #dfe5eb;
}
.light-project .detail-container .header {
  border-top: 1px solid #a5bdd6;
}
.light-project .detail-container .loneImg p {
  color: #516d8a;
}

.dark-project .detail-container .detail {
  background-color: #101b26;
}
.dark-project .detail-container .project-header {
  border-bottom: 1px solid #1e2e3e;
}
.dark-project .detail-container .status-and-tools .project-btn {
  border-left: 1px solid #1e2e3e;
}
.dark-project .detail-container .header {
  border-top: 1px solid #1e2e3e;
}
.dark-project .detail-container .loneImg p {
  color: #516d8a;
}

@media screen and (max-width: 992px) {
  .detail-container .detail {
    margin: auto 5rem;
  }
}
@media screen and (max-width: 768px) {
  .detail-container .detail {
    margin: auto 3rem;
  }
}
@media screen and (max-width: 576px) {
  .detail-container .detail {
    margin: auto 0.5rem;
  }
}

/*# sourceMappingURL=project.css.map */
