.Proj_container {
  display: flex;
  justify-content: center;
  width: 828px;
  overflow-anchor: none;
  margin: 10rem auto auto auto;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.Proj_container .blockDescription {
  background-color: #f5f5f5;
  border-radius: 0.45rem 0.45rem 0 0;
  border-bottom: 1px solid rgba(38, 50, 56, 0.2392156863);
  margin: 0 0 1rem 0;
  padding: 0.5rem 3rem;
}
.Proj_container .blockDescription h3, .Proj_container .blockDescription p {
  font-family: "RobotoCondensed";
}

@media screen and (max-width: 992px) {
  .Proj_container {
    width: auto;
    margin: 10rem 5rem auto 5rem;
  }
}
@media screen and (max-width: 768px) {
  .Proj_container {
    margin: 10rem 3rem auto 3rem;
  }
}
@media screen and (max-width: 576px) {
  .Proj_container {
    margin: 10rem 0.5rem auto 0.5rem;
  }
}
.Projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Projects .proj {
  margin: 10px;
  background-color: #ececec;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: grid;
  border-radius: 0.5rem;
  width: 46%;
  grid-template-columns: 3fr 3fr 3fr 3fr 4fr 7fr;
  grid-template-rows: 3.5rem 2.5rem 2rem 3rem 3rem;
}
.Projects .proj h4 {
  grid-column: 1/7;
  grid-row: 1/2;
  color: #32474a;
  margin: 1rem 1rem 0.5rem 1.5rem;
  align-self: center;
}
.Projects .proj p {
  grid-column: 1/7;
  grid-row: 2/4;
  font-size: 14px;
  padding: 0;
  margin: 0.5rem 1.5rem 0 1.5rem;
  color: #1d2a2c;
}
.Projects .proj .langicon {
  justify-self: center;
  align-self: center;
  width: 30px;
  height: 30px;
}
.Projects .proj .projButton {
  grid-column: 6/7;
  grid-row: 5/6;
  margin: 0 0.5rem 0.5rem 0;
  display: flex;
  font-size: 0.8rem;
  background-color: #32474a;
  color: rgba(255, 255, 255, 0.7294117647);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.Projects .proj .projButton span {
  margin: auto;
}
.Projects .proj .projButton:hover {
  background-color: rgba(50, 71, 74, 0.7450980392);
}
.Projects .proj .col_1-3 {
  grid-column: 1/3;
}
.Projects .proj .col_2-4 {
  grid-column: 2/4;
}
.Projects .proj .col_3-5 {
  grid-column: 3/5;
}
.Projects .proj .col_2-3 {
  grid-column: 2/3;
}
.Projects .proj .col_3-4 {
  grid-column: 3/4;
}
.Projects .proj .row_4-6 {
  grid-row: 4/6;
}
.Projects .proj .row_4-5 {
  grid-row: 4/5;
}
.Projects .proj .row_5-6 {
  grid-row: 5/6;
  margin-bottom: 0.8rem;
}
.Projects .proj .long_stk {
  height: auto;
  width: 3rem;
  justify-self: center;
}
@media screen and (max-width: 992px) {
  .Projects .proj .long_stk {
    width: 4rem;
    justify-self: right;
  }
}
@media screen and (max-width: 850px) {
  .Projects .proj .long_stk {
    width: 3rem;
    justify-self: center;
  }
  .Projects .proj .row_4-6, .Projects .proj .row_4-5 {
    margin-bottom: 2rem;
  }
  .Projects .proj .row_5-6 {
    margin-bottom: 2.8rem;
  }
}

@media screen and (max-width: 992px) {
  .Projects .proj {
    grid-template-rows: 3.5rem 2.5rem 3rem 3rem 3rem;
  }
}
@media screen and (max-width: 850px) {
  .Projects .proj {
    width: 25rem;
    grid-template-rows: 3.5rem 3rem 3.5rem 3.5rem 3.5rem;
  }
}
@media screen and (max-width: 576px) {
  .Projects .proj {
    width: 100%;
    grid-template-rows: 3.5rem 3rem 3rem 3rem 3rem;
  }
}
.alterPgBtnAnt, .alterPgBtnPrx, .screenshotBtnPrx, .screenshotBtnAnt {
  border-radius: 0.4rem;
  width: 3rem;
  background-color: #32474a;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0.2rem;
  transition: all ease-in-out 0.5s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.alterPgBtnAnt img, .alterPgBtnPrx img, .screenshotBtnPrx img, .screenshotBtnAnt img {
  margin: auto 0.3rem;
  height: 0.8rem;
}
.alterPgBtnAnt span, .alterPgBtnPrx span, .screenshotBtnPrx span, .screenshotBtnAnt span {
  font-family: RobotoCondensed;
  margin: auto 0.5rem;
  font-size: 0.8rem;
}
.alterPgBtnAnt:hover, .alterPgBtnPrx:hover, .screenshotBtnPrx:hover, .screenshotBtnAnt:hover {
  cursor: pointer;
  background-color: rgba(50, 71, 74, 0.7450980392);
}

.alterPgBtnAnt:hover, .alterPgBtnPrx:hover, .screenshotBtnPrx, .screenshotBtnAnt {
  border-color: rgba(0, 0, 0, 0.24);
}

.alterPgBtnAnt {
  margin-right: 2.5rem;
}

#ProjNavCont, #carrNavCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#LoadProj {
  display: flex;
  height: 3.5rem;
  width: 100%;
  margin-top: 1rem;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(38, 50, 56, 0.2392156863);
  border-radius: 0 0 0.45rem 0.45rem;
  justify-content: space-between;
}
#LoadProj #navGuia {
  margin: auto 2.5rem;
}
@media screen and (max-width: 576px) {
  #LoadProj #navGuia {
    margin: auto 0rem auto 0.5rem;
  }
}

/*# sourceMappingURL=projects.css.map */
