.About {
    width: 700px;
    border-radius: .5rem;
    display: flex;
    background-color: $cor1;
    margin: auto;
    padding: 4rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    h2 {
        margin-top: 0;
    }
    h2, p {
        color: $txt_cor2;
    }
}