// color palette
$maxWhite: #ffffff;
$darkWhite: #dfe5eb;
$bodyBackgroundColor: #4586ff;
$bodyBackground: url("../img/misc/pattern.svg");
$blueDark: #334960;
$lightBlueDark: #516d8a;
$darkBlueDark: #101b26;
$gray_line: #a5bdd6;
