$LightModeBg: #4586ff;
$DarkModeBg: #020509;
$bodyBackground: url("../img/misc/pattern.svg");

// color palette
$White-900: #ffffff;
$White-850: #dfe5eb;

$BlueDark-900: #101b26;
$BlueDark-850: #15222f;
$BlueDark-800: #1e2e3e;
$BlueDark-500: #334960;
$BlueDark-400: #516d8a;
$BlueDark-200: #809ab5;
$BlueDark-100: #a5bdd6;
