// color palette
$cor1: #f5f5f5;
$cor1_1:#ececec;
$cor2: #01ecd5;
$cor3: #4586ff;
$cor4: #32474a;
$cor4_1: #32474abe;
$cor4_2: #546e7a;
$cor5: #263238;

$txt_cor1: #ffffffba;
$txt_cor2: #13191dce;

$semitransBlack:  #2632383d;

$navBack: #32474a1c;

//backgrounds

.bg-minicard {
    color: $cor1;
    background-color: #464a52;
}