@import "./colors.scss";

.Contact {
    margin: 10rem auto 5rem auto;
    background-color: $maxWhite;    
    width: 828px;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
    
    .contactIcon {
        margin-right: .8rem;
        height: 2rem;
        width: 2rem;
    }

    .contactButton {
        display: flex;
        cursor: pointer;
        border: none;
        color: $darkWhite;
        height: 30px;
        width: 5rem;
        font-size: 12px;
        background-color: $blueDark;
        box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
        border-radius: .3rem;
        transition: all .3s;
        right: 0;

        &:hover {
            background-color: $lightBlueDark;
        }

        span {
            margin: auto;
        }
    
    }

    .contactHeader {
        background-color: $maxWhite;
        border-radius: .3rem .3rem 0 0;
        border-bottom: 1px solid $gray_line;
        padding: .5rem 3rem;
    }

    #tel-wpp, #email {
        border: 1px solid $gray_line;
        border-radius: .3rem;
        padding: 1rem;
        width: 300px;
        margin: 3rem auto auto auto;
        background-color: $darkWhite;
    }

    #tel-wpp {
        #tel-header {
            margin: auto;
            display: flex;
            align-items: center;
        }

        .numero {
            display: flex;
            justify-content: space-between;
            
            .tel-1 {
                margin: 8px 20px auto 3px;
            }
        }
    }        

    #email {        
        #email-Header {
            display: flex;
            height: 3.5rem;
            align-items: center;

            h4 {
                margin: auto 0;
            }

        }

        #emails {
            display: flex;
            margin: 10px 0 0 0 ;
            font-size: 14px;
            justify-content: space-between;
            flex-direction: column;

            .emailBlock {
                display: flex;
                font-size: 14px;
                justify-content: space-between;
                margin-bottom: 10px;
            }
            .email-1, .email-2, .email-3 {
                margin: 8px 20px auto 3px ;
            }
        }
    }


    .socialCards {
        margin: 3rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;        

        .socialCard {
            text-decoration: none;
            border-radius: 0.3rem 0.2rem 0.2rem 0.3rem;
            display: flex;
            margin: auto 1rem;
            width: 160px;
            box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
            cursor: pointer;

            span {
                margin: auto;
                font-size: 1.2rem;
                color: $darkWhite;
            }
        }

        @media screen and (max-width: 576px) {
            .socialCard {
                margin: auto .3rem;
            }
        }

        .socialCard .SCimgCont {
            border-radius: .2rem 0 0 .2rem;
            display: flex;
            background-color: $darkWhite;

            img {
                margin: .5rem;
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 50%;
                box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
            }
        }

        .socialCard:first-child {
            background-color: $blueDark;

            &:hover {
                filter: contrast(1.2);
            }
        }

        .socialCard:last-child {
            background-color: #007ab9;

            &:hover {
                filter: saturate(1.5);
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .Contact {
        width:  auto;
        margin: 10rem 5rem auto 5rem;
    }
}
@media screen and (max-width: 768px) {
    .Contact {
        margin: 10rem 3rem auto 3rem;
    }
}
@media screen and (max-width: 576px) {
    .Contact {
        margin: 10rem .5rem auto .5rem;
    }
}