//---------------------- Predefinicoes de estilo ---------------------- //

@font-face {
    font-family: "RobotoCondensed";
    src: url("../fonts/RobotoCondensed-Regular.ttf")
}

@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensed-Regular.ttf")
}

// color palette
@import './colors.scss';

// navbar
@import './navbar.scss';

// profile block
@import './profile.scss';

// about me block
@import './about.scss';

// projects
@import './projects.scss';

// project
@import './project.scss';

// contact
@import './contact.scss';

body {
    margin: 0;
}

.light-app, .dark-app {
    font-family: "RobotoCondensed";
    background: $bodyBackground;
    transition: all ease-in-out .7s; 
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }
}

.light-app {
    background-color: $LightModeBg;
}

.dark-app {
    background-color: $DarkModeBg;
}

.light-portfolio, .dark-portfolio {
    padding: 0 0 7rem 0;
    position: relative;
    transition: all .3s;
}

.light-portfolio, .light-project {
    color: $BlueDark-500;

    h1, h2, h3, h4, h5, h6 {
        color: $BlueDark-900;
    }
}

.dark-portfolio, .dark-project {
    color: $BlueDark-200;

    h1, h2, h3, h4, h5, h6 {
        color: $BlueDark-100;
    }
}

.proj_mode {
    height: 100%;
}
