//---------------------- Predefinicoes de estilo ---------------------- //


@font-face {
    font-family: "RobotoCondensed";
    src: url("../fonts/RobotoCondensed-Regular.ttf")
}
@font-face {
    font-family: "CutiveMono";
    src: url("../fonts/CutiveMono-Regular.ttf")
}

// color palette
@import './colors.scss';

// navbar
@import './navbar.scss';

// profile block
@import './profile.scss';

// about me block
@import './about.scss';

// my skills
@import './skills.scss';

// projects
@import './projects.scss';

// project
@import './project.scss';

// contact
@import './contact.scss';

body {
    margin: 0;
    color: #3b475e;
    font-family: "RobotoCondensed";  
}

.Portfolio {
    padding: 0 0 7rem 0;
    background: $cor3;
    position: relative;
    transition: all .5s;
}

.filter {
    filter: contrast(100%) grayscale(90%);
    height: 100%;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        pointer-events: none;
        transition: all 1s ease;
    }
}
