#navbar {
    width: 5rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $navBack;
    position: fixed;
    transition: all .25s ease-in-out;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);

    &:hover {
        width: 8.5rem;
    }
}

.navBarExpandida {
    left: 0px;
    width: 8.5rem;
}

.navBarOculta {
    left: 0px;
    width: 5rem;
}

@media screen and (max-width: 1200px) {
    #navbar {
        width: 100%;
        height: auto;
        
        &:hover {
            width: 100%;
        }
    }
}

.navContainer {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .navContainer {
        flex-direction: row;
        height: 4rem;
    }
}

#navbar .navBtn {
    width: 3.2rem;
    display: flex;
    justify-content: space-between;
    margin: .5rem auto;
    font-size: .8rem;
    color: $txt_cor1;
    background-color: transparent;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .15s;

    img {
        width: 1.5rem;
        height: 1.5rem;
        margin: .8rem;
    }

    span {
        display: none;
        opacity: 0;
        width: 100%;
        margin: auto .5rem;
        transition: all .2s;
    }

    &:hover {
        opacity: .7;
    }
}


#navbar .navBtn:first-child{    
    margin: 12rem auto .5rem auto;
}

@media screen and (max-width: 1200px) {
    #navbar .navBtn:first-child, #navbar .navBtn {
        margin: .5rem .5rem auto auto;   
    }

    #navbar .navBtn:last-child {
        margin: .5rem auto auto auto;
    }
}

#navbar .navBtn:hover{    
    background-color: #32474abe;
    box-shadow: none;
}