#navbar {
    width: 150px;
    height: 100%;
    padding: .5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $cor1;
    position: fixed;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.navContainer {
    display: flex;
    flex-direction: column;
}

#navbar button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: .5rem auto;
    font-size: .8rem;
    background-color: $cor4;
    font-family: RobotoCondensed;
    color: $txt_cor1;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    img {
        width: 1.5rem;
        height: 1.5rem;
        margin: .8rem .5rem ;
    }

    span {
        width: 100%;
        margin: auto .5rem;
    }
}

#navbar button:hover{    
    background-color: #32474abe;
    box-shadow: none;
}