@import './colors.scss';

#navbar {
    width: 9rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}

#navbar {    
    .navBtn, .navSpamBtn {
        display: flex;
        justify-content: space-between;
        margin: 0  auto;
        font-size: .8rem;
        color: #ffffffba;
        background-color: $BlueDark-500;
        border-bottom: 1px solid $BlueDark-100;
        box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
        width: 8.5rem;
        cursor: pointer;
        transition: all .5s ease-in-out;

        img {
            width: 1.5rem;
            height: 1.5rem;
            margin: .8rem;
        }

        .noSpanExtended {
            margin: .85rem auto;
        }

        span {
            width: 100%;
            margin: auto .5rem;
            transition: all .2s;
        }

        &:hover {
            background-color: #405c79a6;
            box-shadow: none;
        }
    }

    .navBtn {
        &:first-of-type {
            margin-top: 12rem;
            border-radius: .3rem .3rem 0 0 !important;
        }

        &:last-of-type {
            border-bottom: none;
            border-radius: 0 0 .3rem .3rem !important;
        }        
    }

    .retornar {
        background-color: #dd2c00;
        span {
            color: $White-850;
        }
    }
    
    .retornar:hover {
        background-color: #ff3d00;    
    }
}

#navbar .langBlock .langBtn {
    background-color: $BlueDark-400;
    height: 0;
    opacity: 0;
    border: none;
    transition: all .3s;

    h3 {
        display: none;
        color: $White-850;
        margin: 1rem 1.1rem;
    }

    .navSpan {
        display: none;
    }

    &:first-of-type {
        margin-top: 0;
        border-radius: .3rem .3rem 0 0 !important;
    }

    &:hover {
        background-color: #405c79a6;
        box-shadow: none;
    }
}

.noSpanExtended {
    margin: 0.85rem auto;
}

@media screen and (max-width: 1200px) {
    #navbar {
        width: 100%;
        height: auto;
        background-color: $White-900;
        flex-direction: row;
        justify-content: center;
    }

    #navbar .navBtn {
        border-bottom: none;
        border-radius: .3rem;
        margin: 0.5rem 0.2rem 0.5rem 0.2rem;

        &:first-of-type {
            border-radius: .3rem !important;
        }

        &:last-of-type {
            border-bottom: none;
            border-radius: .3rem !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    #navbar .navBtn:first-child, #navbar .navBtn {
        margin: 0.5rem 0.2rem 0.5rem 0.2rem;
    }
}