@import './colors.scss';

// COMMON STYLES

.Profile {
    padding-top: 12rem;
    transition: all .7s ease-in-out;    
}

.light-profile #ProfileBlock, .dark-profile #ProfileBlock  {
    display: flex;
    margin: auto auto 8rem auto;
    width: 15rem;
    height: 20rem;
    border-radius: 3rem;
    flex-direction: column;
    transition: all ease-in-out .7s;
}

#ProfileBlock #imgDiv {
    z-index: 2;
    display: flex;
    margin: auto;
    height: 6.8rem;
    width: 6.8rem;
    background: linear-gradient(to top, #01ecd5, #4586ff);
    box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
    border-radius: 50%;

    img {
        margin: auto;
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
    }
}

#ProfileBlock h3, h5 {
    z-index: 2;
    margin: .6rem auto 0 auto;
}

#ProfileBlock #links {
    z-index: 2;
    margin: auto;

    img {
        cursor: pointer;
        margin: .3rem .6rem 1rem .6rem;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
    }
}

.lnk1:hover {
    filter: contrast(1.2);
}
.lnk2:hover {
    filter: saturate(1.5);
}

.gradient {
    position: absolute;
    width: 15rem;
    height: 20rem;
    border-radius: 3rem;
    box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
    transition: all ease-in-out .7s;
}

// LIGHT MODE
.light-gradient {
    filter: none;
}

// DARK MODE
.dark-gradient {
    filter: opacity(.05);
}

.dark-profile #ProfileBlock {
    background-color: $BlueDark-900;
}
 