
@import './colors.scss';

.projMain {
    background: $bodyBackground;
    background-color: $bodyBackgroundColor;    
}

.projdetailCont {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 12rem;
    
    .projDetailBlock {
        background-color: $maxWhite;
        border-radius: .3rem;
        width: 828px;
        margin: auto auto 12rem auto;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
    }

    .projDetailBlock .projDetailCards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    
    .projDetailCards .projLangCard, .projectScreenshots{
        margin: 1rem 0;
        box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
        background-color: $darkWhite;
        border-radius: .3rem;
    }
}

.projLangHeader {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $gray_line;

    img {
        height: 2.5rem;
        width: 2.5rem;
        margin: 1rem 1rem 1rem 2rem;
    }
}

.projLangHeader .projLangName{
    width: 100%;
    display: flex;
    
    h4 {
        margin: auto auto auto 1rem;
        font-size: 1rem;
        text-align: center;
    }
}
.projBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 2rem auto auto;
    align-items: center;
    border-left: 1px solid $gray_line;

    h4 {
        padding-left: 4rem;
        width: 100%;
    }
}

.repoLinkButton {
    background-color: $darkWhite;
    display: flex;
    width: 12rem;
    padding: .5rem;
    border-radius: .3rem;
    box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);

    &:hover {
        filter: contrast(1.2);
        cursor: pointer;
    }

    img {
        height: 2rem;
    }

    span {
        font-size: 1rem;
        margin: auto;
    }

    &:not(:first-of-type) {
        margin-top: .5rem;
    }

    &:last-child {
        margin-bottom: 2rem;
    }
}

.greenCheckBg {
    color: #C8E6C9;
    background-color: #4CAF50;

    &:hover {
        filter: none;
        cursor: auto;
    }
}

.linkBg {

    img {
        height: 1.5rem;
        margin: .3rem;
    }

    color: $darkWhite;
    background-color: $lightBlueDark;
}

.screenshots {
    display: flex;
    padding: 2rem 2rem 1.5rem 2rem;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
        width: 46%;
        margin: 0 1.5rem 1.5rem 0 ;
        &:hover {
            filter: contrast(1.1);
            cursor: pointer;
        }

    }
}

.projHeader {
    border-radius: .3rem .3rem 0 0;
    border-bottom: 1px solid $gray_line;
}

.projNameHeader{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: .3rem .3rem 0 0;

    h2 {
        width: 100%;
        margin: 2rem;
        text-align: center;
    }
}

.detailDescription {
    margin: 0;
    padding: 3rem 2rem 1.5rem 2rem;
}

.toolDetail {
    padding: 0.5rem 2rem 2rem 2rem;
}

.projDescriptionList {
    margin-right: 40px;
}

@media screen and (max-width: 992px) {
    .projdetailCont .projDetailBlock {
        margin: auto 5rem;
    }
}
@media screen and (max-width: 768px) {
    .projdetailCont .projDetailBlock {
        margin: auto 3rem;
    }
}
@media screen and (max-width: 576px) {
    .projdetailCont .projDetailBlock {
        margin: auto .5rem;
    }
}

.langUseList li p {
    margin-top: .3rem;
    margin-bottom: .7rem;
}

.retornar {
    position: fixed;
    padding: 1rem;
    background-color: #dd2c00;
    border-radius: 0 0 .3rem 0;
    opacity: 1;
    cursor: pointer;
    transition: all .3s;
    display: flex;

    span {
        color: $darkWhite;
        display: flex;
        margin: auto;
    }
}
.retornar:hover {
    background-color: #ff3d00;    
}

.projectScreenshots {
    height: 400px;
}

.carrouselNav {
    height: 344px;
}

.loneImg { 
    margin: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .loneImgSubContainer {
        display: flex;
        flex-direction: column;

        p {
            color: $lightBlueDark;
        }

        img:hover {
            cursor: pointer;
            filter: contrast(1.1);
        }

    }
}
.pt_0 {
    padding-top: 0;
}
.pt_1 {
    padding-top: 1rem
}
.pb_1 {
    padding-bottom: 1rem;
}
.mt_0 {
    margin-top: 0;
}
.mt_1 {
    margin-top: 1rem;
}
.mb_0 {
    margin-bottom: 0;
}
.mb_1 {
    margin-bottom: 1rem;
}
.ml_7 {
    margin-left: 7.5rem;
}
.ml_9 {
    margin-left: 9rem;
}
.ml_14 {
    margin-left: 14.5rem;
}
.ml_1_auto {
    margin: 1rem auto;
}

.width_80 {
    width: 80%;
}

.width_100 {
    width: 100%;
}


#carrNavCont {
    border-radius: .3rem .3rem 0 0;
    background-color: $darkBlueDark;
    height: 56px;
    border-top: 1px solid #2632383d;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);

    .screenshotBtnPrx {
        margin-left: .5rem;
    }
    .dotsContainer {
        width: 100%;
        margin: auto 2.5rem;
    }

    @media screen and (max-width: 576px) {
        .dotsContainer {
            margin: auto 0rem auto .5rem;
        }
    }
}

.imgContainer {
    position: fixed;

    .selpic {
        border-radius: .3rem;
        box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
        background-color: white;    
    }

    .horizontal_selpic {
        width: 90vw;
    }

    .vertical_selpic {
        height: 90vh;
    }
}

.bg-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.65);
    bottom: 0px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.fechar {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 26px;
    height: 26px;
    background-color: #dd2c00;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
    transition: all .3s;
    display: flex;
}
.fechar:hover {
    background-color: #ff3d00;    
}

.fechar_btn {
    margin: auto;
    width: 14px;
    height: 14px;
}

.filtro{
    filter: brightness(50%) grayscale(100%);
    height: 100%;
    overflow: hidden;
}
.filtro::before{
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    pointer-events: none;
    transition: all 1s ease;
}

.statusAndTools {
    display: flex;
    align-items: stretch;
}

.badgeBlock {
    width: 100%;
    margin: 0 auto auto 2rem;

    h4 {
        width: 100%;
    }

    img {
        margin-right: .2rem;
    }
}