.grayarea {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;

    .projDetailBlock {
        background-color: $cor1;
        border-radius: .5rem;
        width: 700px;
        padding: 3rem 4rem 2rem 4rem;
        left: 50%;
        top: 10%;
        transform: translate(-50%, 0);
        position: fixed;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .projDetailBlock h2 {
        margin-top: 0;
    }

    .projDetailBlock .projDetailCards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .projDetailCards .projLangCard {
        width: 10rem;
        height: 4rem;
        border-radius: .3rem;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
        display: flex;
        flex-direction: row;
        background-color: #e3e9ec;
        overflow: hidden;
        margin-bottom: 1rem;

        img {
            height: 2.5rem;
            width: 2.5rem;
            margin: auto 1rem;
        }
    }

    .projLangCard .CardTextBg{
        width: 100%;
        display: flex;        
        
        span {
            margin: auto;
            font-size: 1rem;
            text-align: center;
        }
    }
        
    .fechar {
        position: absolute;
        right: -7px;
        top: -7px;
        width: 26px;
        height: 26px;
        background-color: #dd2c00;
        border-radius: 50%;
        opacity: 1;
        cursor: pointer;
        transition: all .3s;
        display: flex;
    }
    .fechar:hover {
        background-color: #ff3d00;    
    }

    .fechar_btn {
        margin: auto;
        width: 14px;
        height: 14px;
    }

    .projEmAndamento {
        width: 11rem;
        cursor: not-allowed;
        color: #ff3d00;
    }

    .projConcluido {
        cursor: pointer;
        color: #3b59ff;
        &:hover {
            color:#546eff;
        }
    }

    .projRepoLink {
        border-top: 1px solid #2632383d;
        margin-top: 1rem;
    }
}