@import './colors.scss';

// COMMON STYLES

.dark-project .detail-container, .light-project .detail-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 12rem;
    
    .detail {
        border-radius: .3rem;
        width: 828px;
        margin: auto auto 12rem auto;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
        transition: all .7s ease-in-out;
    }

    .project-header {
        border-radius: .3rem .3rem 0 0;
    }
    
    .project-name{ 
        width: 100%;
        display: flex;
        flex-direction: row;
        border-radius: .3rem .3rem 0 0;
    
        h2 {
            width: 100%;
            margin: 2rem;
            text-align: center;
        }
    }

    .project-description {
        margin: 0;
        padding: 3rem 2rem 1.5rem 2rem;
    }

    .status-and-tools {
        display: flex;
        align-items: stretch;
    }
    
    .status-and-tools .badges {
        width: 100%;
        margin: 1.5rem auto auto 2rem;
    
        h4 {
            width: 100%;
        }
    
        img {
            margin-right: .2rem;
        }
    }

    .status-and-tools .project-btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1.5rem auto auto 2rem;
        align-items: center;

        h4 {
            padding-left: 4rem;
            width: 100%;
        }
    }

    .project-btn .link-btn {
        display: flex;
        width: 12rem;
        padding: .5rem;
        border-radius: .3rem;
        color: $BlueDark-900;
        background-color: $White-850;
        box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
    
        &:hover {
            filter: contrast(1.2);
            cursor: pointer;
        }
    
        img {
            height: 2rem;
        }
    
        span {
            font-size: 1rem;
            margin: auto;
        }
    
        &:not(:first-of-type) {
            margin-top: .5rem;
        }
    
        &:last-child {
            margin-bottom: 2rem;
        }
    }

    .project-btn .green-btn-bg {
        color: #C8E6C9;
        background-color: #4CAF50 !important;
    
        &:hover {
            filter: none;
            cursor: auto;
        }
    }

    .project-btn .gray-link-btn {
        color: $White-850;
        background-color: $BlueDark-400 !important;

        img {
            height: 1.5rem;
            margin: .3rem;
        }
    }

    .header {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .header .header-text{
        width: 100%;
        display: flex;
        
        h4 {
            margin: 1rem auto 1rem 2rem;
            font-size: 1rem;
            text-align: center;
        }
    }

    .section-detail {
        padding: 0.5rem 2rem 2rem 2rem;
    }

    .section-detail-list {
        margin-right: 40px;
    }

    .loneImg { 
        margin: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .loneImgSubContainer {
            display: flex;
            flex-direction: column;

            img:hover {
                cursor: pointer;
                filter: contrast(1.1);
            }
    
        }
    }    
}

.imgContainer {
    position: fixed;

    .selpic {
        border-radius: .3rem;
        box-shadow: 0 1px 3px rgba(64, 92, 121, 0.12), 0 1px 2px rgba(64, 92, 121, 0.24);
        max-width: 90vw;
        max-height: 90vh;
    }
}

.close {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 26px;
    height: 26px;
    background-color: #dd2c00;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
    transition: all .3s;
    display: flex;
}
.close:hover {
    background-color: #ff3d00;    
}

.close-svg {
    margin: auto;
    width: 14px;
    height: 14px;
}

.pt_0 { padding-top: 0;
}
.pt_1 {
    padding-top: 1rem
}
.pb_1 {
    padding-bottom: 1rem;
}
.mt_0 {
    margin-top: 0;
}
.mt_1 {
    margin-top: 1rem;
}
.mb_0 {
    margin-bottom: 0;
}
.mb_1 {
    margin-bottom: 1rem;
}
.ml_1_auto {
    margin: 1rem auto;
}

.width_80 {
    width: 80%;
}
.width_100 {
    width: 100%;
}

// LIGHT MODE
.light-project .detail-container {
    .detail {
        background-color: $White-900;
    }

    .project-header {
        border-bottom: 1px solid $BlueDark-100;
    }

    .status-and-tools .project-btn {
        border-left: 1px solid $BlueDark-100;
    }

    .project-btn .link-btn {
        background-color: $White-850;
    }

    .header {
        border-top: 1px solid $BlueDark-100;
    }

    .loneImg p {
       color: $BlueDark-400; 
    } 
}

// DARK MODE
.dark-project .detail-container {
    .detail {
        background-color: $BlueDark-900;
    }

    .project-header {
        border-bottom: 1px solid $BlueDark-800;
    }

    .status-and-tools .project-btn {
        border-left: 1px solid $BlueDark-800;
    }

    .header {
        border-top: 1px solid $BlueDark-800;
    }

    .loneImg p {
       color: $BlueDark-400; 
    } 
}


@media screen and (max-width: 992px) {
    .detail-container .detail {
        margin: auto 5rem;
    }
}
@media screen and (max-width: 768px) {
    .detail-container .detail {
        margin: auto 3rem;
    }
}
@media screen and (max-width: 576px) {
    .detail-container .detail {
        margin: auto .5rem;
    }
}