@import './colors.scss';

.Skills {
    width: 800px;
    border-radius: .5rem;
    flex-direction: column;
    text-align: left;
    background-color: $cor1;
    margin: 6rem auto;
    padding: 4rem 2rem 4rem 2rem;
    color: $cor4;
    box-shadow: 0 0 5px 3px rgba(15, 117, 117, 0.26), 0 0 2px 1px rgba(29, 29, 29, 0.55);
}
.Skills .front, .Skills .back{
    display: flex;
    flex-direction: column;

    h3 {
        padding: .5rem;
        margin-top: 0;
    }
    
    .cardsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;
        border: 1px solid red;
    }

    .Card {
        width: 10rem;
        height: 4rem;
        border-radius: .3rem;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
        display: flex;
        flex-direction: row;
        background-color: #e3e9ec;
        overflow: hidden;
        margin: .5rem;

        img {
            height: 2.5rem;
            width: 2.5rem;
            margin: auto 1rem;
        }
    }

    .Card .CardTextBg{
        width: 100%;
        display: flex;        
        
        span {
            margin: auto;
            font-size: 1rem;
            text-align: center;
            font-family: RobotoCondensed;
        }
    }
}